/* Header  */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffffa7;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    backdrop-filter: blur(5px);
    z-index: 100;
    transition: .6s ease-in-out;
}

.header__heading {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 3.8rem;
    font-weight: 700;
    transition: .6s;
}

.header__nav {
    width: 600px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    transition: .6s;
}

.header__search {
    width: calc(100% - 150px);
    margin-right: 14px;
    font-size: 1.6rem;
    padding: 2px 10px;
    border-radius: 2px;
}

.header__nav .btn-create {
    margin: 0;
}

.header__hidden {
    background-color: #dddddd9d;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    color: #469dfb;
    right: 80px;
    bottom: 0;
    transition: .3s;
}

.header__hidden:hover {
    cursor: pointer;
    background-color: #469dfb;
    color: #fff;
}

#iconHidden {
    transition: .6s;
}

/* End Header  */

#body {
    margin-top: 177px;
    transition: .6s ease-in-out;
}

#body.margin-top-96px {
    margin-top: 85px !important ;
}

.student {
    /* position: relative; */
    overflow: hidden;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ddd;
}

.student__picture {
    width: 100%;
}

.student__picture .student__img {
    width: 160px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    height: 160px;
    border-radius: 50%;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.student__information {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.student__information .name {
    font-size: 2.5rem;
}

.student__information .student__list {
    margin-left: 30px;
}

.student__information .student__list .student__list-item {
    margin-bottom: 4px;
    font-size: 1.6rem;
}

.options {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
}